  body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 50px;
    zoom:120%;
  }

  #youtubeUrl {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  #fetchResolutionsButton, #downloadButton {
    padding: 10px 20px;
    background-color: #1a8cff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }

  #fetchResolutionsButton:hover, #downloadButton:hover {
    background-color: #0066cc;
    transition: transform 0.3s ease;
    transform: scale(1.05)
  }

  #resolutionList {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding: 0;
  }

  #resolutionList li {
    display: inline; /* Display list items inline */
    margin-right: 10px;
  }

  #message {
    margin-top: 20px;
  }

#progressContainer {
    width: 300px; /* Mesma largura da imagem ou do campo de texto */
    background-color: #ddd;
    border-radius: 4px;
    margin: 20px auto; /* Adiciona margem automática nos lados para centralizar */
    overflow: hidden; /* Garante que a barra interna não ultrapasse as bordas arredondadas */
}


#progressBar {
    height: 20px;
    background-color: #1a8cff;
    width: 0%; /* Inicializa a barra de progresso com 0% */
    transition: width 0.5s ease; /* Suaviza a transição da largura */
    position: relative;
}

footer {
    width: 100%;
    background-color: #696969;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content a {
    display: inline-block;
    text-decoration: none;
}

.social-icon img {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    margin: 0 10px;
    transition: transform 0.5s ease;
    padding-left: 25px; 
    padding-right: 25px;
}

.social-icon:hover img {
    transform: scale(1.2);
}

.resolution-button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #1a8cff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.resolution-button.active, .resolution-button:hover {
    background-color: #0066cc;
}

.action-button:hover {
    transform: scale(1.05);
}


