<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y2DOWN - Download YouTube Videos</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script type="text/javascript" src="../static/script.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
</head>

<body>
    <header class="site-header">
        <div class="header-content">
            <div class="logo-container">
                <img src="/static/logo.png" alt="Y2DOWN Logo" class="logo">
            </div>
        <div class="search-container">
            <input type="text" id="youtubeSearchInput" placeholder="Search YouTube videos" aria-label="Search">
            <button type="submit" id="youtubeSearchButton" onclick="searchYouTubeAPI()">Search</button>
            <div id="searchResultsList" class="results-container"></div>
        </div>

            </div>
        </div>
    </header>

    <input id="youtubeUrl" type="text" placeholder="Enter YouTube URL here">
    <button id="fetchResolutionsButton" class="action-button">Search YouTube Video</button>
    <div id="listContainer">
        <div id="resolutionList"></div>
    </div>
    
    <button id="downloadButton" class="action-button" style="display:none;">Download Video</button>
    <button id="downloadAudioButton" class="action-button" style="display:none;">Download Audio</button>


    <div id="main">
        <div id="videoInfo">
            <h3 id="videoTitle"></h3>
            <img id="videoThumbnail" src="">
        </div>

        <div id="progressContainer" style="display:none;">
            <div id="progressBar"></div>
        </div>

        <div id="message">
        <p id="message"></p>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <a title="Aplicação no meu github!" href="https://github.com/pbrnx/youtube-downloader" target="_blank" class="social-icon">
                <img src="../static/Octicons-mark-github.svg" alt="GitHub">
            </a>
            <a title="Contato Profissional" href="https://www.linkedin.com/in/pedro-barone" target="_blank" class="social-icon">
                <img src="../static/linkedin.svg" alt="Linkedin">
            </a>
            <a title="Acesse meu insta!" href="https://www.instagram.com/pbrnx" target="_blank" class="social-icon">
                <img src="../static/Instagram_logo_2016.svg" alt="Instagram">
            </a>
        </div>
    </footer>
</body>
</html>
