<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Download YouTube Video</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" />
<script type="text/javascript" src="../static/script.js" defer></script>
</head>


<body>
    <input type="text" id="youtubeUrl" placeholder="Enter YouTube URL">
    <button id="fetchResolutionsButton">Get Resolutions</button>
    <div id="resolutionsContainer">
        <ol id="resolutionList"></ol>
    </div>
    <button id="downloadButton" style="display:none;">Download Video</button>
    <p id="message"></p>

    
</body>
</html>
